/* styles.css */
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* Slider */
/* styles.css */

.slider {
  max-width: 600px; /* Define el ancho máximo del slider */
  margin: 0 auto; /* Centra el slider en la página */
  overflow: hidden;
  position: relative;
}

.slider-img{
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  display: none;
}

.slider-img:first-child {
  display: block;
}


/* Menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #111;
}
.menu-toggle {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 0 20px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .menu {
      display: none;
  }
  
  .menu-toggle {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 24px;
      z-index: 999;
  }
  
  .menu.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
  }
  
  .menu.open li {
      margin: 10px 0;
  }
}


/* Contenedor */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Secciones */
.section {
    margin-top: 20px;
}
/* styles.css */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.importancia,
.ventajas,
.porque {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.importancia h3,
.ventajas h3,
.porque h3 {
  color: #333;
}

.importancia p,
.ventajas p,
.porque p {
  color: #666;
}


/* Footer */
/* styles.css */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-links,
.social-links,
.contact-info {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #555;
}

.footer-links h3,
.social-links h3,
.contact-info h3 {
  margin-top: 0;
}

.footer-links ul,
.social-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li,
.social-links ul li {
  margin-bottom: 5px;
}

.footer-links a,
.social-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover,
.social-links a:hover {
  text-decoration: underline;
}

